
*.sdf
/Release
/Release/LibGrafx.exp
/Release/LibGrafx.lib
/Release/LibGrafx.pdb
/Release/RayTutorial.exe
/Release/RayTutorial.pdb
/Release/LibGrafx.dll
/LibGrafx/Release
/LibGrafx/Release/cl.command.1.tlog
/LibGrafx/Release/CL.read.1.tlog
/LibGrafx/Release/GrSphere.obj
/LibGrafx/Release/GrTexture.obj
/LibGrafx/Release/GrTransform.obj
/LibGrafx/Release/LibGrafx.dll.intermediate.manifest
/LibGrafx/Release/CL.write.1.tlog
/LibGrafx/Release/GrImage.obj
/LibGrafx/Release/GrModelX.obj
/LibGrafx/Release/GrModelXp.obj
/LibGrafx/Release/LibGrafx.write.1.tlog
/LibGrafx/Release/LibGrafx.lastbuildstate
/LibGrafx/Release/LibGrafx.log
/LibGrafx/Release/LibGrafx.obj
/LibGrafx/Release/LibGrafx.pch
/LibGrafx/Release/LibGrafx.res
/LibGrafx/Release/mt.command.1.tlog
/LibGrafx/Release/mt.read.1.tlog
/LibGrafx/Release/mt.write.1.tlog
/LibGrafx/Release/link.command.1.tlog
/LibGrafx/Release/link.read.1.tlog
/LibGrafx/Release/link.write.1.tlog
/LibGrafx/Release/link-cvtres.read.1.tlog
/LibGrafx/Release/link-cvtres.write.1.tlog
/LibGrafx/Release/rc.write.1.tlog
/LibGrafx/Release/stdafx.obj
/LibGrafx/Release/vc100.pdb
/LibGrafx/Release/XmlDocument.obj
/LibGrafx/Release/rc.command.1.tlog
/LibGrafx/Release/rc.read.1.tlog
/RayTutorial/Release
/RayTutorial/Release/CL.read.1.tlog
/RayTutorial/Release/CL.write.1.tlog
/RayTutorial/Release/GlRenderer.obj
/RayTutorial/Release/GrCamera.obj
/RayTutorial/Release/AntiAliasDlg.obj
/RayTutorial/Release/ChildView.obj
/RayTutorial/Release/cl.command.1.tlog
/RayTutorial/Release/link-cvtres.write.1.tlog
/RayTutorial/Release/MainFrm.obj
/RayTutorial/Release/mt.command.1.tlog
/RayTutorial/Release/mt.read.1.tlog
/RayTutorial/Release/link.command.1.tlog
/RayTutorial/Release/link.read.1.tlog
/RayTutorial/Release/link.write.1.tlog
/RayTutorial/Release/link-cvtres.read.1.tlog
/RayTutorial/Release/Poisson2D.obj
/RayTutorial/Release/RayTutorial.exe.intermediate.manifest
/RayTutorial/Release/RayTutorial.lastbuildstate
/RayTutorial/Release/RayTutorial.log
/RayTutorial/Release/mt.write.1.tlog
/RayTutorial/Release/MyMaterial.obj
/RayTutorial/Release/MyRaytraceRenderer.obj
/RayTutorial/Release/OpenGLWnd.obj
/RayTutorial/Release/RayTutorial.write.1.tlog
/RayTutorial/Release/rc.command.1.tlog
/RayTutorial/Release/rc.read.1.tlog
/RayTutorial/Release/RayTutorial.obj
/RayTutorial/Release/RayTutorial.pch
/RayTutorial/Release/RayTutorial.res